*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #000000;
    color: rgb(255, 255, 255);
}





/*=======================================*/
/*==========BACKGROUND IMAGE=============*/
/*=======================================*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background44.png);
    background-size: cover;
    background-position: center;
}





/*=======================================*/
/*===============NAV BAR=================*/
/*=======================================*/
/*padding for nav bar*/
.container{
    padding: 10px 10%;
}

/*nav bar layout - center items*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*nav bar title*/
nav a{
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
}

/*colour of the contents inside span of title 'AIDAN' - changes 'D' to red*/
nav a span{
    color: #ff0000;
}

/*set size of logo*/
.logo{
    width: 140px;
}

/*Nav bar items layout horizontal*/ 
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/*Nav bar item text design*/
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    align-items: center;
}

/*Dowload CV button*/
nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    align-items: right;
}

/*effect of hovering over items in nav bar will give moving underline*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/*determine how much of the content will be underlined - 
100% means underline will go all the way to the end of the text*/
nav ul li a:hover::after{
    width: 100%;
}








/*=======================================*/
/*===============Main Text===============*/
/*=======================================*/
.header-text{
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color: #ff0000;
}

.header-text h2{
    margin-bottom: 1%;
    font-weight: 200;
}

/*spacing for socials icons*/
.social-icons2{
    margin-top: 30px;
}

/*change size and color of socials icons
the transition is calling transform from the hover code*/
.social-icons2 a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

/*makes icon highlighed and shift up when mouse is hovered over it*/
.social-icons2 a:hover{
    color: #135592;
    transform: translateY(-5px);
}








/*=======================================*/
/*===============ABOUT SECTION===========*/
/*=======================================*/
/* its a # when referencing a div id and a . when referencing a div class*/
#about{
    padding: 80px 0;
    color: #ababab;
}

/*making image and the contents of about section side by side instead of vertical*/
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*column with picture in*/
.about-col-1{
    /*width of column will be 35%*/
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    /*rounded corners on the image -
    50% will make the image completely round*/
    border-radius: 50%;
}


/*column with the text in - 60% to allow 5% in the middle*/
.about-col-2{
    flex-basis: 60%;
}


/*sub columns*/
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 75%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}

.tab-contents ul li span{
    color: #921c1c;
    font-size: 18px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/*SKILLS SECTION*/
#skills i {
    color:rgb(204, 204, 204);
    font-size: 20px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
/*Separating hard skills and soft skills into two columns*/ 
.columns-skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills-col-1{
    flex-basis: 35%;

}
.skills-col-2{
    flex-basis: 65%;
}




/*LANGUAGES SECTION*/
#languages i{
    color:rgb(204, 204, 204);
    font-size: 20px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

/*Separating laguanges and tools into two columns*/ 
.columns-languages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.languages-col-1{
    flex-basis: 35%;

}
.languages-col-2{
    flex-basis: 65%;
}



/*education SECTION*/
#education i{
    color:rgb(204, 204, 204);
    font-size: 20px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

/*Separating education and certificates into two columns*/ 
.columns-education{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.education-col-1{
    flex-basis: 50%;

}
.education-col-2{
    flex-basis: 50%;
}









/*=======================================*/
/*===============SERVICES SECTIOn========*/
/*=======================================*/
/*give a bit of space between about section and this new title 'My Services'*/
#services{
    padding: 30px 0;
}

/*Create grid for the services display*/
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/*add border round the services in grid*/
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

/*icon sizing*/
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

/*titles*/
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

/*learn more line*/
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/*when mouse hovers over a block*/
.services-list div:hover{
    background: #921313;
    transform: translateY(-10px);
}







/*=======================================*/
/*============PORTFOLIO SECTION==========*/
/*=======================================*/

/*seperating title from the my services section*/
#portfolio{
    padding: 50px 0;
}

/* create grid*/ 
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/*set borders - the radius makes it curved at corners*/
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/*put images into the grid
the transform section came later and lets the image be slightly zoomed in when hovered over*/
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

/*adding the layer over the image with information and text
the transition line came later and gives the rising effect of the info section*/
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ababab);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

/*title design*/
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

/*design for link*/
.layer a{
    margin-top: 20px;
    color: #ababab;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    text-align: center;
}

/*when mouse hovers over one of the images*/
.work:hover img{
    transform: scale(1.1);
}

/*increasing height of information section to 100% so it can be seen*/
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ababab;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ababab;
}








/*=======================================*/
/*============CONTACT SECTION============*/
/*=======================================*/
/*make left side only take up 35% of width of the form*/
.contact-left{
    flex-basis: 35%;
}

/*make right side take up 60% of width of the form, leaving 5% between them*/
.contact-right{
    flex-basis: 60%;
}

/*spacing on left side text items*/
.contact-left p{
    margin-top: 30px;
}


/*copy email and phone number*/
.contact-left p a i{
    color: #b4b4b4;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 2.5px;
    margin-bottom: 12.5px;
    cursor: pointer;

    position: relative;
    display: inline-block;
    transform: translateY(-50%);


}


  
/*TRYING TO FIGURE OUT HOW TO GET TOOL TIP FOR COPY TO CLIPBOARD*/
/*----------------------------------------------*/
.contact-left p a i:before {
    position: absolute;
    z-index: 9998;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px solid rgba(253, 253, 253, 0.72);
  }

  .contact-left p a i:after {
    content: "Copy to Clipboard";
    display: none;
    position: absolute;
    z-index: 9999;
    top: -10px;
    left: 30px;
    width: 130px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    background: rgba(226, 0, 0, 0.72);
    border-radius: 6px;
  }
  .contact-left p a i:hover {
    background-color: #eee;
  }
  .contact-left p a i:hover:before, .contact-left p a i:hover:after {
    display: block;
  }
  .contact-left p a i:active, .contact-left p a i:focus {
    outline: none;
  }
  .contact-left p a i:active:after, .contact-left p a i:focus:after {
    content: "Copied!";
  }
  
  .contact-left p a span{
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: rgba(0, 0, 0, 0.07);
    font-size: 3px;
  }
  
  .contact-left p a {
    color: rgba(13, 157, 219, 0.55);
    font-weight: 500;
    text-decoration: none;
  }
  .contact-left p a:hover {
    text-decoration: underline;
  }






  

/*----------------------------------------------*/




/*color and spacing of icons for email and phone number*/
.contact-left p i{
    color: rgb(255, 18, 18);
    margin-right: 15px;
    font-size: 20px;
}

/*spacing for socials icons*/
.social-icons{
    margin-top: 30px;
}

/*change size and color of socials icons
the transition is calling transform from the hover code*/
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

/*makes icon highlighed and shift up when mouse is hovered over it*/
.social-icons a:hover{
    color: #921313;
    transform: translateY(-5px);
}

/*button design for cv download and submit button*/
.btn.btn2{
    display: inline-block;
    background: #921313;
    border-color: #000000;
}

.contact-right form{
    width: 100%;
}

/*input form*/
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}


form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
}


#msg{
    color: #229213;
    margin-top: -20px;
    display: block;
}







/*=======================================*/
/*=======COPYRIGHT BANNER SECTION========*/
/*=======================================*/
/*create banner around text*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/*color of icon*/
.copyright i{
    color: #921313;
}









/*=======================================*/
/*============CSS SMALL SCREEN===========*/
/*=======================================*/
/*make sure menu burger is hidden from all pages
we will add it in where needed*/
nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phonebackground.PNG);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
        margin-bottom: 5px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    /*add side nav bar for smaller screens*/
    nav ul{
        background: #ff0000;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 120vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    /*side nav bar organised*/
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


    /*ABOUT ME SECTION*/
    .sub-title{
        font-size: 40px;
    }

    /*change size of photo*/ 
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    /*create some space below image*/
    .about-col-1{
        margin-bottom: 30px;
    }

    /*set new font size*/
    .about-col-2{
        font-size: 14px;
    }

    /*fix margin for about section*/
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }


    /*fix contact me section spacing*/
    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
}



